@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: "Liter", sans-serif;
  background-color: #0c0c0c;
  color: white;
  margin: 0;
}

h1 {
  color: white;
  font-size: 3em;
  font-weight: 600;
  animation: slideInFromTop 0.5s ease-out;
}

h2 {
  color: white;
  font-size: 2rem;
}

h3 {
  margin: 10px;
  line-height: 25px;
}

p {
  color: rgb(219, 219, 219);
}

main {
  max-width: 100%;
  background-color: #111111;
  margin: 0 auto;
  z-index: 1;
}

.section {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

.progress-section {
  max-width: 1100px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
}

.workout-card {
  width: 30%;
  background-color: #111111;
  padding: 5px;
  border-radius: 10px;
}

.button {
  background-color: rgb(255, 115, 0);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 30px;
  color: white;
  border: 0px solid;
  transition: 0.2s ease-in-out;
  margin: 0;
}

.button:hover {
  background-color: black;
}

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 30px;
}

.welcome-cards {
  position: relative;
  color: white; /* Ensures text remains visible */
  text-align: center;
  max-width: 300px;
  min-height: 250px;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden; /* Ensures no unwanted overflow */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease, box-shadow 0.5 ease, filter 0.5s ease;
  z-index: 1 !important;
}

.welcome-cards:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.3);
}

/* Background image applied separately for each card */
.welcome-cards.goal::before {
  background-image: url("images/goal.png");
}

.welcome-cards.track::before {
  background-image: url("images/track.jpg");
}

.welcome-cards.tools::before {
  background-image: url("images/tools.jpg");
}

.welcome-cards::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%) brightness(20%);
  z-index: -1 !important; /* Moves background behind content */
  transition: filter 0.3s ease;
}

.welcome-cards:hover::before {
  filter: grayscale(0%) brightness(50%);
}

/* Ensure inner content stays above the background */
.welcome-cards img,
.welcome-cards h3,
.welcome-cards p {
  position: relative;
  z-index: 1;
}

.welcome-cards p {
  font-size: 0.9em;
}

footer {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

header {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  transition: transform 0.5s ease-in-out;
}

header.hidden {
  transform: translateY(-100%);
}

header.scrolled {
  width: 100%;
  z-index: 3000 !important;
  background-color: #0c0c0c; /* Adjust the color as needed */
  transition: background-color 0.3s ease-in-out;
}

.hero {
  z-index: 2000 !important; /* Ensures it's below .side-menu */
  max-width: 100%;
  margin: 0 auto;
  background-image: url("images/fitted.png");
  background-position: center;
  background-position-y: 35%;
  background-size: 1200px;
  background-repeat: no-repeat;
  height: 500px;
  animation: fadeIn 1.5s ease-out;
}

.navbar {
  max-width: 1160px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  color: white;
  animation: slideInFromTop 1s ease-out;
  transition: transform 1s ease-in-out;
}

/* Navbar Brand */
.navbar-brand-big {
  margin-top: 10px;
}

/* Navbar Brand */
.navbar-brand-small {
  display: none;
  margin-top: 2px;
}

/* Navbar Links */
.navbar-nav {
  display: flex;
  gap: 5px;
}

.navbar-nav a {
  display: flex; /* Enables flexbox */
  align-items: center; /* Vertically centers the text */
  justify-content: center; /* Horizontally centers the text */
  height: 40px; /* Defined height for the navbar item */
  text-decoration: none; /* Removes the underline */
  font-size: 1rem;
  transition: color 0.3s ease;
}
.navbar-nav a:hover {
  color: orange;
}

.navButton {
  position: relative;
  padding: 5px;
  color: white;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 1s ease-in-out;
}

.navButton::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%; /* Start at the center */
  width: 0;
  height: 3px;
  background-color: orange;
  transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}

.navButton:hover::before {
  width: 100%;
  left: 0; /* Expand outward from center */
}

/* Hamburger Icon */
.hamburger-menu {
  margin-right: 10px;
  display: none; /* Initially hidden on larger screens */
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1100; /* Ensures it's visible above everything else */
}

.hamburger-icon {
  width: 25px;
  height: 3px;
  background-color: white; /* Default color */
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Hamburger transformation to cross */
.hamburger-menu.open .hamburger-icon:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 10px;
  background-color: rgb(255, 72, 0); /* Change color when open */
}

.hamburger-menu.open .hamburger-icon:nth-child(2) {
  opacity: 0; /* Hide middle line */
}

.hamburger-menu.open .hamburger-icon:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -10px;
  background-color: rgb(255, 72, 0); /* Change color when open */
}

/* Sliding Menu */
.side-menu {
  position: fixed;
  top: 0;
  right: -250px; /* Start off-screen */
  width: 160px;
  height: 100%;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  transition: right 0.3s ease-in-out;
  z-index: 999; /* Ensures it's above other content when open */
}

/* Side Menu Item Styling */
.side-menu-item {
  background-color: #0a0a0a;
  position: relative; /* Required for positioning the pseudo-element */
  color: white;
  text-decoration: none;
  padding: 15px;
  transition: color 0.3s ease; /* Optional: Smooth color transition */
}

.side-menu-item::before {
  content: ""; /* Creates the pseudo-element */
  position: absolute;
  bottom: 0; /* Positions it at the bottom of the button */
  left: 0; /* Starts from the left */
  width: 0; /* Initially, no width */
  height: 4px; /* Thickness of the border */
  background-color: orange; /* Color of the border */
  transition: width 0.3s ease-in-out; /* Smooth slide effect */
}

/* Hover Effect */
.side-menu-item:hover::before {
  width: 100%; /* Expands the pseudo-element to full width on hover */
}

.side-menu-item:hover {
  color: orange; /* You can adjust the color change on hover as needed */
}

.darkContainer {
  background-color: #0c0c0c;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .navbar-nav {
    display: none; /* Hide original navbar on small screens */
  }
  .hamburger-menu {
    display: flex; /* Show hamburger icon on small screens */
  }
  .side-menu.open {
    right: 0; /* Slide the menu in */
  }
  .hamburger-menu.open .hamburger-icon:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 8px;
  }
  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .welcome-cards {
    max-width: 100%;
  }
  .hamburger-menu.open .hamburger-icon:nth-child(2) {
    opacity: 0; /* Hide the middle line */
  }
  .hamburger-menu.open .hamburger-icon:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -8px;
  }
  .hero {
    background-size: 768px;
    height: 300px;
  }
  .progress-section {
    flex-direction: column;
    gap: 10px;
  }
  .workout-card {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .hero {
    background-size: 480px;
    height: 200px;
  }
  h1 {
    font-size: 2rem;
  }
  .navbar-brand-big {
    display: none;
  }
  .navbar-brand-small {
    display: block;
  }
}

@media (max-width: 360px) {
  .hero {
    height: 160px;
  }
}
